.checklist {
    display: none; /* Hide the checklist by default */
  }

  ul {
    list-style-type: none; /* Remove bullets from the list */
}
body {
    background-color: #333; /* Dark background color */
    color: #fff; /* Text color for dark mode */
}
  ul {
    list-style-type: none; /* Remove bullets from the list */
}

/* Default styles for dark mode */
body.light-mode {
    background-color: #fff; /* Light background color for light mode */
    color: #333; /* Text color for light mode */
}

/* Styles for dark mode */
body.dark-mode {
    background-color: #333; /* Dark background color for dark mode */
    color: #fff; /* Text color for dark mode */
}

/* Style for the dark mode toggle button */
.dark-mode-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #333; /* Dark gray background color */
    color: #fff; /* Text color */
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}
#checklist{
    display: none;
}
#inputManual {
    display: none; /* Hide the textarea by default */
  }
.checklist{
    display: none;
}
    
        
        /* Style for the dark mode button */
        .dark-mode-toggle {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #050505; /* Dark gray background color */
            color: #fcf2f2; /* Text color */
            padding: 8px 12px;
            border: none;
            cursor: pointer;
        }
        .dark-mode-toggle_01 {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #793434; /* Dark gray background color */
            color: #fff; /* Text color */
            padding: 8px 12px;
            border: none;
            cursor: pointer;
        }
        
        /* Style for dark mode */
        
        .dark-mode {
            background-color: #333; /* Dark background color for dark mode */
            color: #dbdbdb; /* Text color for dark mode */
        }
    